@page
@model ControlSeguros.App.Frontend.Pages.Usuarios.PropietarioModel
@{
}

<h2>Lista de Propietarios</h2>

<a asp-page="./RegPropietario" class="btn btn-primary">Registrar</a>

<br><br>

<form method="get">
    <div class="form-group">
        <p>
            Propietario: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtrar" class="btn btn-primary"/>
        </p>
    </div>
</form>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Correo</th>
            <th scope="col"></th>
            
        </tr>
    </thead>
    @foreach (var propietario in Model.ListaPropietarios)
    {
        <tr>
            <td>@propietario.Documento</td>
            <td>@propietario.Nombre</td>
            <td>@propietario.Apellidos</td>
            <td>@propietario.Telefono</td>
            <td>@propietario.Ciudad</td>
            <td>@propietario.Correo</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditPropietario" asp-route-PropietarioId="@propietario.PropietarioId">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                    Editar
                </a>
            </td>
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@propietario.PropietarioId">
                    <button class="btn btn-danger">Borrar</button>
                </form>
            </td>
        </tr>
    }
</table>