@page
@model ControlSeguros.App.Frontend.Pages.AuxiliarPag.ListaAuxiliaresModel
@{
}

<h2>Lista de Auxiliares</h2>

<a asp-page="./CrearAuxiliares" class="btn btn-primary">Registrar</a>

<br><br>

<form method="get">
    <div class="form-group">
        <p>
            Auxiliar: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtrar" class="btn btn-primary"/>
        </p>
    </div>
</form>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>
            <th scope="col"></th>
            
        </tr>
    </thead>
    @foreach (var Auxiliar in Model.ListaAuxiliar)
    {
        <tr>
            <td>@Auxiliar.Documento</td>
            <td>@Auxiliar.Nombre</td>
            <td>@Auxiliar.Apellidos</td>
            <td>@Auxiliar.Telefono</td>
            <td>@Auxiliar.Direccion</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarAuxiliar" asp-route-MecanicoId="@Auxiliar.AuxiliarId">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                    Editar
                </a>
            </td>
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@Auxiliar.AuxiliarId">
                    <button class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
    }
</table>